$pep-color--dark:                 rgb(4, 69, 103) !default;
$pep-color--light:                rgb(255, 255, 255) !default;

$pep-color__petrol:               rgb(46, 145, 158) !default;
$pep-color__petrol--light:        rgb(143, 214, 196) !default;

$pep-color__green:                rgb(143, 189, 46) !default;
$pep-color__green--dark:          rgb(107, 133, 0) !default;
$pep-color__green--light:         rgb(191, 178, 0) !default;

$pep-color__pink:                 rgb(247, 87, 120) !default;
$pep-color__pink--dark:           rgb(240, 41, 97) !default;
$pep-color__pink--light:          rgb(247, 120, 199) !default;

$pep-color__orange:               rgb(232, 120, 46) !default;
$pep-color__orange--dark:         rgb(232, 60, 20) !default;
$pep-color__orange--light:        rgb(255, 140, 120) !default;
$pep-color__orange--dry:          rgb(232, 125, 115) !default;

$pep-color__yellow:               rgb(247, 189, 46) !default;
$pep-color__yellow--mix:          rgb(209, 189, 46) !default;
$pep-color__yellow--dark:         rgb(173, 115, 8) !default;
$pep-color__yellow--dry:          rgb(209, 158, 46) !default;

