@import "reset";
@import "variables";
@import "functions";

html, body {
    height: 100%;
    box-sizing: border-box;
}

.pep-error {
    background: #f7f7f7;
    color: $pep-color--dark;

    font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 10px;

    padding-top: 5em;

    @include Media(sm) {
        font-size: 12px;
    }
    @include Media(md) {
        font-size: 14px;
    }

    a, a:link, a:visited, a:active {
        color: $pep-color--dark;
        text-decoration: underline;

        &:hover {
            background-color: $pep-color--dark;
            color: $pep-color--light;
        }
    }

    &--code-404 {
        //background-color: #f4f4f4;
        background: linear-gradient(to bottom right, $pep-color--dark, lighten($pep-color--dark, 10%));
        color: $pep-color--light;

        a, a:link, a:visited, a:active {
            color: $pep-color--light;
            text-decoration: underline;

            &:hover {
                background-color: $pep-color--light;
                color: $pep-color--dark;
            }
        }
    }

    &__title {
        font-size: 4em;
        font-weight: 900;
        text-align: center;
        line-height: 1.4;
    }

    &__description {
        font-size: 2.2em;
        font-weight: 200;
        text-align: center;
        line-height: 1.4;
    }

    &__footer {
        text-align: center;
        font-size: 1em;

        padding: 2em 0 1em;
    }

    &__mascot {
        position: relative;
        margin: 0 0 2.2em;
        text-align: center;
    }

    &--code-404 &__mascot {
        padding-bottom: 40px;

        &__accessory {
            margin-top: -60px;
            margin-left: 180px;
        }
    }
}


.ghost {
    overflow: visible;

    &__body {
        animation-name: ghostFlying;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    &__shadow {
        animation-name: ghostShadow;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;

        transform-origin: center center;
        opacity: .5;
    }
}

.sky {
    &__star {
        position: absolute;

        width: 2px;
        height: 2px;
        background: #dddddd;
        box-shadow: 0px 0px 4px rgba(white, 0.5);

        border-radius: 100%;
        animation-name: star-flicker;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @for $i from 1 through 40 {
            &--#{$i} {
                top: 0% + random(60);
                left: 2% + random(90);
                transform: scale(1 + random(10)/10);

                animation-duration: 2s + random(5);
                animation-delay: 0s + random(10);
            }
        }
    }
}


@keyframes ghostFlying {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10%);
    }
}
@keyframes ghostShadow {
    from {
        transform: scale(1);
        opacity: .5;
    }
    to {
        transform: scale(1.1);
        opacity: 1;
    }
}
@keyframes star-flicker {
    0%, 4% {
        opacity: .6;
    }
    2% {
        opacity: 1;
    }
}
