html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display:block; }

body{
  line-height:1; }

ol, ul{
  list-style:none; }

blockquote, q{
  quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after{
  content:'';
  content:none; }

table{
  border-collapse:collapse;
  border-spacing:0; }
html, body{
  height:100%;
  box-sizing:border-box; }

.pep-error{
  background:#f7f7f7;
  color:#044567;
  font-family:"Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size:10px;
  padding-top:5em; }
  @media only screen and (min-width: 768px){
    .pep-error{
      font-size:12px; } }
  @media only screen and (min-width: 992px){
    .pep-error{
      font-size:14px; } }
  .pep-error a, .pep-error a:link, .pep-error a:visited, .pep-error a:active{
    color:#044567;
    text-decoration:underline; }
    .pep-error a:hover, .pep-error a:link:hover, .pep-error a:visited:hover, .pep-error a:active:hover{
      background-color:#044567;
      color:white; }
  .pep-error--code-404{
    background:-webkit-linear-gradient(top left, #044567, #066698);
    background:linear-gradient(to bottom right, #044567, #066698);
    color:white; }
    .pep-error--code-404 a, .pep-error--code-404 a:link, .pep-error--code-404 a:visited, .pep-error--code-404 a:active{
      color:white;
      text-decoration:underline; }
      .pep-error--code-404 a:hover, .pep-error--code-404 a:link:hover, .pep-error--code-404 a:visited:hover, .pep-error--code-404 a:active:hover{
        background-color:white;
        color:#044567; }
  .pep-error__title{
    font-size:4em;
    font-weight:900;
    text-align:center;
    line-height:1.4; }
  .pep-error__description{
    font-size:2.2em;
    font-weight:200;
    text-align:center;
    line-height:1.4; }
  .pep-error__footer{
    text-align:center;
    font-size:1em;
    padding:2em 0 1em; }
  .pep-error__mascot{
    position:relative;
    margin:0 0 2.2em;
    text-align:center; }
  .pep-error--code-404 .pep-error__mascot{
    padding-bottom:40px; }
    .pep-error--code-404 .pep-error__mascot__accessory{
      margin-top:-60px;
      margin-left:180px; }

.ghost{
  overflow:visible; }
  .ghost__body{
    -webkit-animation-name:ghostFlying;
            animation-name:ghostFlying;
    -webkit-animation-duration:2s;
            animation-duration:2s;
    -webkit-animation-direction:alternate;
            animation-direction:alternate;
    -webkit-animation-timing-function:ease-in-out;
            animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite; }
  .ghost__shadow{
    -webkit-animation-name:ghostShadow;
            animation-name:ghostShadow;
    -webkit-animation-duration:2s;
            animation-duration:2s;
    -webkit-animation-direction:alternate;
            animation-direction:alternate;
    -webkit-animation-timing-function:ease-in-out;
            animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
    -webkit-transform-origin:center center;
            transform-origin:center center;
    opacity:.5; }

.sky__star{
  position:absolute;
  width:2px;
  height:2px;
  background:#dddddd;
  box-shadow:0px 0px 4px rgba(255, 255, 255, 0.5);
  border-radius:100%;
  -webkit-animation-name:star-flicker;
          animation-name:star-flicker;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
          animation-timing-function:linear; }
  .sky__star--1{
    top:55%;
    left:30%;
    -webkit-transform:scale(1.6);
            transform:scale(1.6);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:6s;
            animation-delay:6s; }
  .sky__star--2{
    top:2%;
    left:78%;
    -webkit-transform:scale(1.7);
            transform:scale(1.7);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--3{
    top:60%;
    left:33%;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:9s;
            animation-delay:9s; }
  .sky__star--4{
    top:53%;
    left:29%;
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--5{
    top:49%;
    left:5%;
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    -webkit-animation-duration:6s;
            animation-duration:6s;
    -webkit-animation-delay:10s;
            animation-delay:10s; }
  .sky__star--6{
    top:17%;
    left:37%;
    -webkit-transform:scale(1.2);
            transform:scale(1.2);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:9s;
            animation-delay:9s; }
  .sky__star--7{
    top:23%;
    left:44%;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--8{
    top:51%;
    left:57%;
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:4s;
            animation-delay:4s; }
  .sky__star--9{
    top:58%;
    left:33%;
    -webkit-transform:scale(1.4);
            transform:scale(1.4);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:3s;
            animation-delay:3s; }
  .sky__star--10{
    top:57%;
    left:42%;
    -webkit-transform:scale(2);
            transform:scale(2);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:9s;
            animation-delay:9s; }
  .sky__star--11{
    top:60%;
    left:13%;
    -webkit-transform:scale(1.2);
            transform:scale(1.2);
    -webkit-animation-duration:5s;
            animation-duration:5s;
    -webkit-animation-delay:3s;
            animation-delay:3s; }
  .sky__star--12{
    top:45%;
    left:5%;
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--13{
    top:33%;
    left:49%;
    -webkit-transform:scale(1.8);
            transform:scale(1.8);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:5s;
            animation-delay:5s; }
  .sky__star--14{
    top:26%;
    left:20%;
    -webkit-transform:scale(1.8);
            transform:scale(1.8);
    -webkit-animation-duration:5s;
            animation-duration:5s;
    -webkit-animation-delay:10s;
            animation-delay:10s; }
  .sky__star--15{
    top:56%;
    left:6%;
    -webkit-transform:scale(1.9);
            transform:scale(1.9);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:2s;
            animation-delay:2s; }
  .sky__star--16{
    top:11%;
    left:79%;
    -webkit-transform:scale(1.2);
            transform:scale(1.2);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:5s;
            animation-delay:5s; }
  .sky__star--17{
    top:43%;
    left:31%;
    -webkit-transform:scale(1.4);
            transform:scale(1.4);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:4s;
            animation-delay:4s; }
  .sky__star--18{
    top:2%;
    left:80%;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:2s;
            animation-delay:2s; }
  .sky__star--19{
    top:35%;
    left:14%;
    -webkit-transform:scale(1.6);
            transform:scale(1.6);
    -webkit-animation-duration:6s;
            animation-duration:6s;
    -webkit-animation-delay:2s;
            animation-delay:2s; }
  .sky__star--20{
    top:58%;
    left:48%;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
    -webkit-animation-duration:5s;
            animation-duration:5s;
    -webkit-animation-delay:9s;
            animation-delay:9s; }
  .sky__star--21{
    top:43%;
    left:59%;
    -webkit-transform:scale(1.8);
            transform:scale(1.8);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:7s;
            animation-delay:7s; }
  .sky__star--22{
    top:56%;
    left:54%;
    -webkit-transform:scale(1.6);
            transform:scale(1.6);
    -webkit-animation-duration:5s;
            animation-duration:5s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--23{
    top:60%;
    left:72%;
    -webkit-transform:scale(1.9);
            transform:scale(1.9);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:4s;
            animation-delay:4s; }
  .sky__star--24{
    top:20%;
    left:32%;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:10s;
            animation-delay:10s; }
  .sky__star--25{
    top:33%;
    left:23%;
    -webkit-transform:scale(1.9);
            transform:scale(1.9);
    -webkit-animation-duration:6s;
            animation-duration:6s;
    -webkit-animation-delay:3s;
            animation-delay:3s; }
  .sky__star--26{
    top:8%;
    left:44%;
    -webkit-transform:scale(2);
            transform:scale(2);
    -webkit-animation-duration:5s;
            animation-duration:5s;
    -webkit-animation-delay:2s;
            animation-delay:2s; }
  .sky__star--27{
    top:5%;
    left:41%;
    -webkit-transform:scale(2);
            transform:scale(2);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:3s;
            animation-delay:3s; }
  .sky__star--28{
    top:36%;
    left:8%;
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    -webkit-animation-duration:6s;
            animation-duration:6s;
    -webkit-animation-delay:4s;
            animation-delay:4s; }
  .sky__star--29{
    top:34%;
    left:27%;
    -webkit-transform:scale(1.4);
            transform:scale(1.4);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--30{
    top:27%;
    left:31%;
    -webkit-transform:scale(1.7);
            transform:scale(1.7);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:6s;
            animation-delay:6s; }
  .sky__star--31{
    top:5%;
    left:78%;
    -webkit-transform:scale(1.2);
            transform:scale(1.2);
    -webkit-animation-duration:6s;
            animation-duration:6s;
    -webkit-animation-delay:9s;
            animation-delay:9s; }
  .sky__star--32{
    top:40%;
    left:33%;
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    -webkit-animation-duration:6s;
            animation-duration:6s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--33{
    top:27%;
    left:53%;
    -webkit-transform:scale(1.8);
            transform:scale(1.8);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--34{
    top:10%;
    left:30%;
    -webkit-transform:scale(1.4);
            transform:scale(1.4);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:8s;
            animation-delay:8s; }
  .sky__star--35{
    top:9%;
    left:55%;
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    -webkit-animation-duration:6s;
            animation-duration:6s;
    -webkit-animation-delay:10s;
            animation-delay:10s; }
  .sky__star--36{
    top:22%;
    left:48%;
    -webkit-transform:scale(1.6);
            transform:scale(1.6);
    -webkit-animation-duration:3s;
            animation-duration:3s;
    -webkit-animation-delay:6s;
            animation-delay:6s; }
  .sky__star--37{
    top:31%;
    left:91%;
    -webkit-transform:scale(2);
            transform:scale(2);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:6s;
            animation-delay:6s; }
  .sky__star--38{
    top:8%;
    left:75%;
    -webkit-transform:scale(1.9);
            transform:scale(1.9);
    -webkit-animation-duration:7s;
            animation-duration:7s;
    -webkit-animation-delay:1s;
            animation-delay:1s; }
  .sky__star--39{
    top:20%;
    left:76%;
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
    -webkit-animation-duration:4s;
            animation-duration:4s;
    -webkit-animation-delay:2s;
            animation-delay:2s; }
  .sky__star--40{
    top:51%;
    left:18%;
    -webkit-transform:scale(1.2);
            transform:scale(1.2);
    -webkit-animation-duration:5s;
            animation-duration:5s;
    -webkit-animation-delay:8s;
            animation-delay:8s; }

@-webkit-keyframes ghostFlying{
  from{
    -webkit-transform:translateY(0);
            transform:translateY(0); }
  to{
    -webkit-transform:translateY(10%);
            transform:translateY(10%); } }

@keyframes ghostFlying{
  from{
    -webkit-transform:translateY(0);
            transform:translateY(0); }
  to{
    -webkit-transform:translateY(10%);
            transform:translateY(10%); } }

@-webkit-keyframes ghostShadow{
  from{
    -webkit-transform:scale(1);
            transform:scale(1);
    opacity:.5; }
  to{
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    opacity:1; } }

@keyframes ghostShadow{
  from{
    -webkit-transform:scale(1);
            transform:scale(1);
    opacity:.5; }
  to{
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
    opacity:1; } }

@-webkit-keyframes star-flicker{
  0%, 4%{
    opacity:.6; }
  2%{
    opacity:1; } }

@keyframes star-flicker{
  0%, 4%{
    opacity:.6; }
  2%{
    opacity:1; } }
